<div id="competences-part">
  <h1>Compétences</h1>
  <div class="competences-subpart">
    <app-competence-item imgUrl="../../../assets/images/competences/html.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/css.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/js.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/php.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/mysql.svg"></app-competence-item>
  </div>
  <div class="competences-subpart">
    <app-competence-item imgUrl="../../../assets/images/competences/angular.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/ts.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/vuejs.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/symfony.svg"></app-competence-item>
    <app-competence-item imgUrl="../../../assets/images/competences/c.svg"></app-competence-item>
  </div>
</div>