#item{
  @media screen and (min-width: 650px){ 
    height: 10rem;
    width: 10rem;
  }
  height: 8rem;
  width: 8rem;

  padding: 1rem;

  border-radius: 0.4rem;

  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  &:hover{
    height: 11rem;
    width: 11rem;

    transform:rotate(5deg);

    transition: all 0.2s ease;
  }
}